@charset "utf-8";


#div_body {

  font-size: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  width: 80%;
  margin-top:2.5%;
  margin-left:3%;
  padding:20px;
  max-width:1200px;
 
 }
 
 

#div_ha {
	font-family: Verdana, Geneva, sans-serif;
	 font-size: 2em;
	 margin-bottom: 50px;
	 font-weight: bold;
	 color:#F3731E;
	 text-align:center
	 	 
}


#div_bl_co{
	padding: 30px;
	margin: 30px;
	border-radius:12px;
	border:6px solid #F3731E;
	
	
	

}


#div_bl_pr{
	padding: 30px;
	margin: 30px;
	border-radius:12px;
	border:6px solid #F3731E;


}

#div_ha_co{
	margin-bottom: 30px;
	font-weight: bold;


}

#div_ha_pr{
	margin-bottom: 30px;
	font-weight: bold;


}



#div_la {
	margin-bottom: 30px;
		

}





#div_re {
	  width: 30%;	
	  margin-bottom: 30px;
	 
}


#div_in {
	  width: 30%;	
	  margin-bottom: 30px;
	

	

}


#div_cl {
	  width: 30%; 
	  margin-bottom: 30px;
	 

	  

}

#div_ne{
	 margin-bottom: 30px;
	
}

#div_ta{
	width: 95%;
	 margin-bottom: 30px;

}


#div_pr_se{
	width: 100%;
	margin-bottom: 30px;
	
}


input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  width: 50px;
  height: 25px;
  border-radius: 30px;
  border: 2px solid #ddd;
  background-color: #ccc;
  display: inline-block;
  content: "";
  float: left;
  margin-right: 15px;
  transition: background-color 0.5s linear;
}
input[type="checkbox"] + label:hover {
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  transition: margin 0.1s linear;
  box-shadow: 0px 0px 5px #999;

}
input[type="checkbox"]:checked+label{
  background-color: #F3731E;
}
input[type="checkbox"]:checked+label::before {
  margin: 0 0 0 30px;
}





input[type="submit"]{
  width: 130px;
  height: 50px;
  background-color: #F3731E;
  font-size:24px;
  border-radius: 8px;
  border-color: #F3731E;
 


}