<doctype html>
<html lang=de>
<head>
    <title>Flask Linked Data</title>
<link rel="stylesheet" href="index.css"  type="text/css" />
<style type="text/css">
body,td,th {
	color: #660000;
}
body {
	background-color: #fff;
	font-size: medium;	
}

</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
 
<body>
<div class="bodyDiv" id="div_body">
<div class="header" id="div_ha">
  
How happy are people from other countries?</div>
{% from "_formhelpers.html" import render_field %}
<form method=post>
<div class="block_country" id="div_bl_co">
     <div class="land" id="div_la">
     <div class="headline_country" id="div_ha_co">What country are you looking for?</div>
    <dt>{{ render_field(form.search_name) }} </dt>
    </div>
    
    <div class="neighboring countries" id="div_ne">
      <input type="checkbox" name="checkbox_ne" id="checkbox_ne" />
      <label for="checkbox_ne"></label> 
      Also look for happiness of neighboring countries
      </div>
      <div class="country_search" id="div_co_se"><p><input type=submit value=Search></div>
      
      </div>
      
      <div class="block_property" id="div_bl_pr">
      <div class="property" id="div_pr">
      <div class="headline_property" id="div_ha_pr">
      What property are you interested in?</div>
      <div class="religion" id="div_re">
      Region:
     <dt>{{ render_field(form.select_re) }} </dt>
     </p>
      </div>
      
      <div class="Income" id="div_in">
      Income:
     <dt>{{ render_field(form.select_in) }} </dt>
     </p>
      </div>
      
      <div class="Climate" id="div_cl">
      Climate:
     <dt>{{ render_field(form.select_cl) }} </dt>
     </p>
      </div>
      
      <div class="max count" id="div_max">
      Maximum count of results:
        <dt>{{ render_field(form.search_count) }} </dt>
     </p>
      </div>
      
    <div class="property_search" id="div_pr_se"><input type=submit value=Search></div>
      
    </div>
     
    </div>

  
</form></div>
<p>&nbsp;</p>



</body>
</html>