<doctype html>
<html lang=de>
<head>
    <title>Flask Linked Data</title>
<link href="index.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	color: #660000;
}
body {
	background-color: #fff;
	font-size: medium;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
 
<body>
<div class="bodyDiv" id="div_body">
<div class="header" id="div_ha">
  
How happy are people from other countries?</div>

<form method=post>
<div class="block_country" id="div_bl_co">
     <div class="land" id="div_la">
     <div class="headline_country" id="div_ha_co">Here are your results:</div>
   
   <div class="table" id="div_ta">
      {{ table }}
      </div>
    
    </div>
  
    
      </div>
      
      

  
</form></div>
<p>&nbsp;</p>



</body>
</html>