<doctype html>
<html lang=de>
<head>
	<link rel="stylesheet" href="static/styles/index.css"  type="text/css" />

<style type="text/css">
body,td,th {
	color: #660000;
}
body {
	background-color: #fff;
	font-size: medium;	
}

</style>
<title>Happyproject</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
 
<body>
<div class="bodyDiv" id="div_body">
<div class="header" id="div_ha">
<div class="header_logo" id="div_ha_lo">
<img src="static/styles/logo.png" alt="Logo"style= width:200px;height:200px;> </div>

  <div class="headline" id="div_ha_li">
    <p>How happy are people from<br> other countries?</p>
  </div>



</div>
<!--{% from "_formhelpers.html" import render_field %}-->

<form method=post>
<div class="block_country" id="div_bl_co">
     <div class="land" id="div_la">
         <div class="headline_country" id="div_ha_co">
         Are you searching for a specific country?</div>
    
    <!-- Country Name eingabe -->
     <p>Name of country: 
       <input type="text" name="search_name"></p></input>
    
     <div class="neighboring countries" id="div_ne">
          <input type="checkbox" name="neighbour" value="1" id="checkbox_ne" />
          <label for="checkbox_ne"></label> 
          Also look for happiness of neighboring countries
     </div>
      </div>
    </div> 
      
    
      <!--</div>--> 
      <div class="block_property" id="div_bl_pr">
          <div class="property" id="div_pr">
              <div class="headline_property" id="div_ha_pr">Are you searching for countries with specific properties?</div>
                  <div class="religion" id="div_re">
                      <p>
                          Region:
                         <select name="select_re">
                             <option value="All">All</option>
                             <option value="East Asia & Pacific">East Asia & Pacific</option>
                             <option value="Europe & Central Asia">Europe & Central Asia</option>
                             <option value="Middle East & North Africa">Middle East & North Africa</option>
                             <option value="North America">North America</option>
                             <option value="South Asia">South Asia</option>
                             <option value="Sub-Saharan Africa">Sub-Saharan Africa</option>
                             <option value="Latin America & Caribbean">Latin America & Caribbean</option>
                        </select>
                     </p>
                  </div>
                  <div class="Income" id="div_in">
                    <p>Income:
                         <select name="select_in">
                             <option value="All">All</option>
                             <option value="High income">High income</option>
                             <option value="Low & middle income">Low & middle income</option>
                             <option value="Low income">Low income</option>
                             <option value="Lower middle income">Lower middle income</option>
                             <option value="Middle income">Middle income</option>
                             <option value="Upper middle income">Upper middle income</option>
                        </select>
                    </p>
                  </div>
      
                  <div class="Climate" id="div_cl">
                      <p> Climate:
                          <select name="select_cl">
                             <option value="All">All</option>
                             <option value="Temperate zone">Temperate zone</option>
                             <option value="Mediterranean/subtropical zone">Mediterranean/subtropical zone</option>
                             <option value="Hot dry zone">Hot dry zone</option>
                             <option value="Hot humid/tropical zone">Hot humid/tropical zone</option>
                             <option value="Hot/higher humidity">Hot/higher humidity</option>
                          </select>
                     </p>
                  </div>
      
                  <div class="max count" id="div_max">
                      <p>Maximum count of results:
                            <input type="text" name="search_count"></input>
                     </p>
                  </div>               
        </div> 
        
           
</div>

<div class="property_search" id="div_pr_se"><input type=submit value=Search></div> 
</form>
</div>
</body>
</html>