<doctype html>
<html lang=de>
<head>
    <title>Happyproject Results</title>
<link  rel="stylesheet" href="static/styles/result.css" type="text/css" />
<style type="text/css">
body,td,th {
	color: #660000;
}
body {
	background-color: #fff;
	font-size: medium;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
 
<body>
<div class="bodyDiv" id="div_body">
<div class="logo" id="div_lo">
<img src="static/styles/logo.png" alt="Logo"style= width:200px;height:200px;> </div>

<div class="header" id="div_ha">
  
How happy are people from other countries?</div>


<div class="block_country" id="div_bl_co">
     <div class="land" id="div_la">
     <div class="headline_country" id="div_ha_co">Here are your results:</div>
   
   <div class="table" id="div_ta">
      {{ table }}
      </div>
    
    </div>
  
    
      </div>
      
      

  
</form></div>
</body>
</html>