@charset "utf-8";


#div_body {

  font-size: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  margin-top:10px;;
  margin-left:3%;
  padding:20px;
  width: 90%


 
 }
 
 

#div_ha {
	font-family: Verdana, Geneva, sans-serif;
	 font-size: 2em;
	 margin-bottom: 50px;
	 font-weight: bold;
	 color:#F3731E;
	 text-align:center;
	 min-height: 170px;
	max-width: 1000px; 	 
}

#div_ha_lo{
	height:200px;
	width: 200px;
	float:left;

	
}

#div_ha_li{
	max-width: 700px;

	
}




#div_bl_co{
	padding: 30px;
	margin: 30px;
	border-radius:12px;
	border:6px solid #F3731E;
	max-width: 700px;

}




#div_bl_pr{
	padding: 30px;
	margin: 30px;
	border-radius:12px;
	border:6px solid #F3731E;
	max-width: 700px;



}

#div_ha_co{
	margin-bottom: 30px;
	font-weight: bold;


}

#div_ha_pr{
	margin-bottom: 30px;
	font-weight: bold;


}



#div_la {
	margin-bottom: 30px;
		

}





#div_re {
	 	
	  margin-bottom: 30px;
	 
}


#div_in {
	  	
	  margin-bottom: 30px;
	

	

}


#div_cl {
	  
	  margin-bottom: 30px;
	 

	  

}

#div_ne{
	 margin-bottom: 30px;
	
}




#div_pr_se{
	width: 100%;
	margin-bottom: 30px;
	margin-left: 30px;
	float: left;



	
}


input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  width: 50px;
  height: 25px;
  border-radius: 30px;
  border: 2px solid #ddd;
  background-color: #ccc;
  display: inline-block;
  content: "";
  float: left;
  margin-right: 15px;
  transition: background-color 0.5s linear;
}
input[type="checkbox"] + label:hover {
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  transition: margin 0.1s linear;
  box-shadow: 0px 0px 5px #999;

}
input[type="checkbox"]:checked+label{
  background-color: #F3731E;
}
input[type="checkbox"]:checked+label::before {
  margin: 0 0 0 30px;
}





input[type="submit"]{
  width: 130px;
  height: 60px;
  background-color: #F3731E;
  font-size:26px;
  border-radius: 8px;
  border-color: #F3731E;
 


}