@charset "utf-8";



#div_body {

  font-size: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  width: 80%;
  margin-top:2.5%;
  margin-left:3%;
  padding:20px;
  min-width:1300px;
 
 }
 
 

#div_ha {
	font-family: Verdana, Geneva, sans-serif;
	 font-size: 2em;
	 font-weight: bold;
	 color:#F3731E;
	 text-align:left;
	 min-height: 170px;
	 max-width: 1400px;
	 margin-left: 15%;
	 margin-top: 3%;
	 	 
}

#div_lo{
	height:200px;
	width: 200px;
	float:left;
}



#div_bl_co{
	padding: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius:12px;
	border:6px solid #F3731E;

}



#div_ha_co{
	margin-bottom: 30px;
	font-weight: bold;


}

#div_la {
	margin-bottom: 30px;
		

}




#div_ta{
	width: 95%;
	 margin-bottom: 30px;


}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #F3731E;
  color: white;
}